
main{
    display: grid;
    grid-template-areas: 
    ". header ."
    ". selector ."
    ". display ."
    ". review .";
    width: 75vw;
    margin: 0 auto;
}

body{
    background-color: lavender;
    font-family: monospace;
}

header{
    grid-area: header;
    display: grid;
    grid-template-areas: 
    "logo h1 ."
    "logo . .";
    background-color: skyblue;
    height: 200px;
    width: 75vw;
    margin: 0 auto;
}

header h1{
    grid-area: h1;
    text-align: right;
}

.ghibli{
    grid-area: logo;
    height: 200px;
}

#selector{
    grid-area: selector;
}

#movie-selector{
    padding: 25px;
}

#display-info{
grid-area: display;
}

#review{
    grid-area: review;
}